.header-heading {
    font-size: 4em !important;
    font-weight: normal !important;
    margin-bottom: 0 !important;
    margin-top: 3em !important;
}

.header-subheading {
    font-size: 1.7em !important;
    font-weight: normal !important;
    margin-top: 1.5em !important;
}
